body {
  background-color: #1c1c1c;
}
.banner {
  background-image: url("../images/bg_home.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
