body {
  background-color: black;
}
.bcBlock {
  background-image: url("../images/bg_home.jpg");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
